<%- include("partials/header"); -%>
       <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Search your Bookings</h2>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <input type="text" style="padding-right: 5%;padding-left: 5%;" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
      <table id="myTable">
         <tr class="header">
            <th style="width:20%;">Name</th>
            <th style="width:20%;">Email</th>
            <th style="width:20%;">Hotel</th>
            <th style="width:20%;">Starting</th>
            <th style="width:20%;">Ending</th>
         </tr>
         <%  bookingList.forEach(function(item){ %>
         <tr>
            <td><%=item.name%></td>
            <td><%=item.email%></td>
            <td><%=item.hotel%></td>
            <td><%=item.to_date%></td>
            <td><%=item.from_date%></td>
         </tr>
         <%  }) %>
      </table>
      <script>
         function myFunction() {
           // Declare variables
           var input, filter, table, tr, td, i, txtValue;
           input = document.getElementById("myInput");
           filter = input.value.toUpperCase();
           table = document.getElementById("myTable");
           tr = table.getElementsByTagName("tr");
         
           // Loop through all table rows, and hide those who don't match the search query
           for (i = 0; i < tr.length; i++) {
             td = tr[i].getElementsByTagName("td")[0];
             if (td) {
               txtValue = td.textContent || td.innerText;
               if (txtValue.toUpperCase().indexOf(filter) > -1) {
                 tr[i].style.display = "";
               } else {
                 tr[i].style.display = "none";
               }
             }
           }
         }
         </script>
<%- include("partials/footer"); -%>